<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      body {
        font-family: "Helvetica", sans-serif
      }
      .banner {
          background-size: cover !important;
          background-position: center;
          background-image: url('https://res.cloudinary.com/dib2nyadi/image/upload/v1551645907/Flowers%20Ecommerce/arts-arts-and-crafts-bloom-529927.jpg');
          width: 100%;}
      .banner-third { min-height: 33vh;}
    </style>
</head>
<body>
  <div class="banner banner-third">

  </div>
  <h3> <%= "Olá, #{@user.first_name}" %></h3>
  <p>Seja bem vindo a Flor & Tal. Agora você faz parte dos nossos amigos e tem acesso exclusivo à promoções, feiras e muitos outros eventos em primeira mão!</p>
  <p>Um abraço dos amigos da Flor & Tal</p>

</body>
</html>
