.btn-transparent-white {
    color: white;
    background: transparent;
    padding: 15px 25px;
    border: 2px solid white;
}

.btn-transparent-red {
    color: $red;
    background: transparent;
    padding: 15px 25px;
    border: 2px solid $red;
}
